extends ../../layout/layout

block variables 
  - var pageClass = '';
  - var pageTitle = "Game";
  - var pageDescription = ""
  - var pageName = "game"

block content
  +b.SECTION.game
    .container
      //- div.row
      //-   div.left
      //-     div.card
      //-       .card-title Карточка белого дровосека
      //-       .info Когда дровосек был маленький он любил кататься на члене
      //-     div.card
      //-       .card-title Карточка белого дровосека
      //-       .info Когда дровосек был маленький он любил кататься на члене
      //-     div.card
      //-       .card-title Карточка белого дровосека
      //-       .info Когда дровосек был маленький он любил кататься на члене
      //-   div.right
      //-     .container
      //-       .text-wrap
      //-         h1.title Рассказ о бывалом дровосеке
      //-         p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis consequuntur animi ab eius repellendus atque quod perspiciatis. Nemo velit ratione illum adipisci aut modi possimus corporis. Nulla delectus quasi aliquam?
      //-         p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis consequuntur animi ab eius repellendus atque quod perspiciatis. Nemo velit ratione illum adipisci aut modi possimus corporis. Nulla delectus quasi aliquam?
      canvas(id="game", width="1184px", height="799px")