extends ../../layout/layout

block variables 
  - var pageClass = '';
  - var pageTitle = "Game";
  - var pageDescription = ""
  - var pageName = "game"

block content
  +b.SECTION.game
    .container
      canvas(id="game", width="1184px", height="799px")
      +b.score(id="score") 0
      +b.menu.hide
        +e.A.button(id="start", href="#") Начать
        +e.A.button(id="level", href="#") Уровень сложности
        +e.A.button(id="free", href="#") Свободный режим
        +e.A.button(id="records", href="#") Рекорды
        +e.A.button(id="setup", href="#") Настройки
      +b.menu.hide(id="loose")
        +e.A.button(id="start", href="#", onclick="newGame()") Повторить
        +e.A.button(id="start", href="#") Вернуться в меню