.game{
	.container{
		position: relative;
	}
	canvas{
		z-index: 0;
		top: 0;
		left: 15px;
		position: absolute;
		border: 1px solid #aaa;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		overflow: hidden;
		&:hover{
			box-shadow: 0 0 20px rgba(0,0,0,0.5);
		}
	}
	.score{
		position: absolute;
		right: 200px;
		top: 30px;
		z-index: 2;
		font-size: 20px;
	}
	.menu.hide{
		visibility: hidden;
		opacity: 0;
		transform: scale(0.5, 0.5);
		transition: all .5s ease;
	}
	.menu{
		display: flex;
		position: absolute;
		opacity: 1;
		transition: all .5s ease;
		top: 220px;
		left: calc(50% - 100px);
		
		flex-direction: column;
		text-align: center;
		background: rgba(0, 0, 0, 0.411);
		border: 5px solid rgba(77, 77, 77, 0.507);
		border-radius: 5px;
		padding: 20px 0;
		&__button{
			font-size: 18px;
			color: rgb(34, 34, 34);
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 20px;
			padding: 10px 5px;
			border-bottom: 1px solid #aaa;
			transition: all .3s ease;
		}
		.menu__button:last-child{
			border-bottom: none;
		}
		.menu__button:hover{
			transition: all .3s ease;
			color: rgb(255, 255, 255);
			transform: scale(1.1,1.1);
		}
	}
	
}

@media only screen and (max-width: 1200px){
	.game{
		
	}
}

@media only screen and (max-width: 992px){
	.game{
		
	}
}

@media only screen and (max-width: 767px){
	.game{
		
	}
}